<section class="feedback-section-v3">
    <div class="content-wrapper">
        <h2 class="section-heading-v3">CLIENT <span class="cyan-accent">FEEDBACK</span></h2>
        <p class="section-subtext">Verified testimonials from our command-level clients on mission success.</p>
        
        <div class="testimonial-grid">

            <div class="testimonial-card">
                <div class="reviewer-image-frame">
                    <img src="../image/review1.png" alt="Client Testimonial" class="reviewer-image">
                </div>
                <div class="review-content-v3">
                    <h3 class="vehicle-title-v3">Prapti Bora </h3>
                    <p class="reviewer-source">
                        ⭐️⭐️⭐️⭐️⭐️
                    </p>
                    <blockquote class="testimonial-quote-v3">
                        Had a great experience in all the recent trips with ANKUR TRAVELS, proper time maintenance, well-mannered behaviour, quick response in every order, comfortable cars, all these things makes a wonderful trip ever.
                    </blockquote>
                    
                </div>
            </div>

            <div class="testimonial-card">
                <div class="reviewer-image-frame">
                    <img src="../image/review2.png" alt="review2" class="reviewer-image">
                </div>
                
                <div class="review-content-v3">
                    <h3 class="vehicle-title-v3">Deep Jyoti Sonu</h3>
                    <p class="reviewer-source">
                       ⭐️⭐️⭐️⭐️⭐️
                    </p>
                    <blockquote class="testimonial-quote-v3">
                       Excellent service. Ankur has been taking care of our transportation requirements since the past 5years
                    </blockquote>
                    
                </div>
            </div>

            <div class="testimonial-card">
                <div class="reviewer-image-frame">
                    <img src="../image/review3.png" alt="review3" class="reviewer-image">
                </div>
                <div class="review-content-v3">
                    <h3 class="vehicle-title-v3">Ankit Chaudhary</h3>
                    <p class="reviewer-source">
                       ⭐️⭐️⭐️⭐️
                    </p>
                    <blockquote class="testimonial-quote-v3">
                        Very good experience and I suggest to everyone who ever came yo jorhat please connect only Ankur travels ☺️
                    </blockquote>
                    
                </div>
            </div>

        </div>

        <div class="google-link-v3">
    <a href="https://www.justdial.com/Jorhat/Ankur-Travels-Near-Garmur-Tinali-Jec-Road/9999P3771-3771-231022084119-L4J4_BZDET" target="_blank" class="enter-btn large-btn">
        VIEW MORE<i class="fas fa-arrow-right"></i>
    </a>
</div>
    </div>

</section>
