<main>
        <section id="hero-slider" class="parallax-bg">
            <div class="slider-container">
                <div class="slide active-slide" style="background-image: url('/image/heroImg1.jpg');">
                    <div class="hero-overlay">
                        <h1><span class="cyan-accent">DRIVE</span> THE DREAM</h1>
                        <p>feel the unstobale comfort every time you hit the road </p>
                        <a href="#listings" class="btn-secondary">View cars</a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('/image/aboutUs.jpg');">
                    <div class="hero-overlay">
                        <h1><span class="cyan-accent">EXECUTIVE</span> CLASS</h1>
                        <p>The perfect blend of comfort, thrill and pure joy </p>
                        <a href="#listings" class="btn-secondary">View cars</a>
                    </div>
                </div>
            </div>
        </section>