<!-- LISTINGS SECTION -->
         <section id="listings" class="section-padding">
                <h2 class="section-title">OUR <span class="cyan-accent">FEATURED</span> CARS</h2>
                <div class="scroll-navigation">
                    <button class="scroll-btn left-btn" aria-label="Scroll Left">&leftarrow;</button>
                    <div class="car-scroll-container">
                        
                       
                        

                        <!-- THIS DIV IS MADE FOR CARS BABYYYY !! -->
                            <div class="car-card">
                <img src="../image/car1.jpg" alt="car1">
                <div class="card-details">
                    <h3><span class="cyan-accent">Mahindra</span> BOLERO NEO</h3>
                    <div class="price">From ₹2000 <small>/day</small></div>
                    <a href="../template/template.html?id=placeholder-boleroNeo" class="car-card"><span class="btn-card">View Details <i class="fas fa-arrow-right"></i></span></a>
                </div>
                </div>
            
                        <div class="car-card">
                            <img src="../image/car2.jpg" alt="car2">
                            <div class="card-details">
                                <h3><span class="cyan-accent">Maruti</span> Dzire</h3>
                                <p></p>
                                <div class="price">From ₹1000<small>/Day</small></div>
                                <a href="../template/template.html?id=placeholder-Dzire" class="car-card"><span class="btn-card">View Details <i class="fas fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="car-card">
                            <img src="../image/car3.jpg" alt="car3">
                            <div class="card-details">
                                <h3><span class="cyan-accent">Bolero</span> B6</h3>
                                <p></p>
                                <div class="price">From ₹2000<small>/Day</small></div>
                                <a href="../template/template.html?id=placeholder-BoleroB6" class="car-card"><span class="btn-card">View Details <i class="fas fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="car-card">
                            <img src="../image/car4.jpg" alt="hondaAmaze">
                            <div class="card-details">
                                <h3><span class="cyan-accent">Honda</span> Amaze</h3>
                                <p></p>
                                <div class="price">From ₹2000<small>/Day</small></div>
                                <a href="../template/template.html?id=placeholder-HondaAmaze" class="car-card"><span class="btn-card">View Details <i class="fas fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="car-card">
                            <img src="../image/car5.jpg" alt="Supercar">
                            <div class="card-details">
                                <h3><span class="cyan-accent">Toyota</span> Innova</h3>
                                <p></p>
                                <div class="price">From ₹2000<small>/Day</small></div>
                                <a href="../template/template.html?id=placeholder-InnovaCrysta" class="car-card"><span class="btn-card">View Details <i class="fas fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="car-card">
                            <img src="../image/car6.jpg" alt="Supercar">
                            <div class="card-details">
                                <h3><span class="cyan-accent">Toyota</span> Innova Crysta</h3>
                                <p></p>
                                <div class="price">From ₹2000<small>/Day</small></div>
                                <a href="../template/template.html?id=placeholder-InnovaCrysta" class="car-card"><span class="btn-card">View Details <i class="fas fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <button class="scroll-btn right-btn" aria-label="Scroll Right">&rightarrow;</button>
                </div>
            </section>
