<header id="main-header">
    <div class="container nav-content">
        
        <a href="#" class="logo">
            <img src="/image/logo-removebg-preview.png" alt="Ankur Travels Logo" class="logo-image">
        </a>
        
        <div class="menu-toggle" aria-controls="mobile-nav" aria-expanded="false">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        
        <nav id="mobile-nav">
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#listings">Listings</a></li>
                <li><a href="#packages">Packages</a></li>
                <li><a href="#feedback">Clients</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        
        <a href="#" class="btn-primary desktop-btn">Book Now</a>
    </div>
</header>